* {
  font-family: 'Black Ops One', cursive;
  padding: 20px;
  margin: 20;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  padding-top: 3rem;
  background-color: white
}

.container h1 {
  font-size: 100px;
  color: #074707;
}

.timer {
  display: flex;
  font-size: 200px;
  font-weight: bold;
  color: #333;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  color: #022009;
  min-width: 90px;
}

.separator {
  font-size: 180px;
  padding: 0 10px;
  color: #0a420d;
}

#milliseconds {
  font-size: 50px;
  color: #1a853d;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#startBtn {
  background-color: #05381a;
  color: #fff;
}

#resetBtn {
  background-color: #1a853d;
  color: blanchedalmond;
}